@font-face {
  font-family: "Roboto", sant-serif;
  src: url(../fonts/Roboto-Medium.ttf);
  src: url(../fonts/Roboto-Medium.woff2);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  src: url(../fonts/Roboto-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}
