.footer {
  background-color: $black-color;
  text-align: center;
  padding: 38px 0 47px;
  @media (min-width: 768px) {
    padding: 57px 0;
  }
  @media (min-width: 1174px) {
    padding: 66px 0 70px;
  }
}

.section-header--white {
  color: $white-color;
}

.footer__deskr {
  color: $footer-text-color;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 26px;
  span {
    display: none;
    @media (min-width: 768px) {
      display: block;
      margin-bottom: 37px;
    }
  }
}

.footer__adress-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   flex-wrap: wrap;
  margin-top: 24px;
  @media (min-width: 768px) {
    margin-bottom: 37px;
    flex-direction: row;
  }
}

.footer__adress-link {
  color: $footer-text-color;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  span {
    margin-left: 12px;
  }
  @media (min-width: 768px) {
    margin-left: 20px;
  }
}
