.header__menu {
  margin-top: 23px;
  position: relative;
  @extend %flex-space;
  flex-direction: column;
  align-items: center;
}

.header__button {
  margin-left: auto;
  background-color: $black-color;
  width: 44px;
  height: 37px;
  border: none;
  &::after {
    content: "";
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    background: url(../img/svg/button.png) center center / cover no-repeat;
  }
  @media (min-width: 770px) {
    display: none;
  }
}

.header__button--active {
  &::before {
    content: "";
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    background: url(../img/svg/menu-active.png) center center / cover no-repeat;
  }
}

.container {
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: 780px) {
    min-width: 780px;
  }
  @media (min-width: 1200px) {
    min-width: 1200px;
  }
}

.header__nav {
  position: absolute;
  z-index: 1;
  top: 37px;
  right: 0;
  border: none;
  @media (min-width: 770px) {
    display: block;
    position: static;
  }
}

.header__nav--active {
  display: none;
}

.nav__wrapper {
  @extend %list-reset;
  background-color: $menu-color;
  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  }
}

.nav__inner {
  padding: 5px 56px 5px 13px;
  font-size: 11px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: $text-menu-color;
  &:hover {
    background-color: $menu-color-hover;
  }

  @media (min-width: 768px) {
    padding: 5px 36px 5px 0px;
    &:hover {
      background-color: white;
    }
  }
  @media (min-width: 1200px) {
    padding: 5px 68px 5px 0px;
  }
}

.nav__link {
  text-decoration: none;
  color: $text-menu-color;
  &--current {
    color: $text-menu-current;
  }
}

.header__picture {
  margin-top: 23px;
  object-fit: contain;
}
